# ollama: Запуск с локальной Ollama
LLM_PROVIDER=ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=qwen3-coder:30b

# yandex: Запуск с YandexGPT
YANDEX_API_KEY=
YANDEX_FOLDER_ID=b1g4i7484no974fajk10
YANDEX_MODEL=qwen3.6-35b-a3b/latest

# Выбор провайдера: ollama, yandex
LLM_PROVIDER=yandex

# Для агента codereviewer нужно указать доступ к gitlab, access_token с scope: api, read_api
GITLAB_TOKEN=
GITHUB_TOKEN=

# режим дебагинг
LLM_DEBUG=1